:root {
  --yellow: 245, 230, 45;
  --dark: #191919;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark);
  color: #fff;
}

.App {
  margin: auto;
  max-width: 600px;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
}

.logo {
  width: 600px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 4px solid rgb(var(--yellow));
}

.logo img {
  width: 100%;
  fill: rgb(var(--yellow));
}

.alert {
  position: fixed;
  bottom: 0px;
  margin: 0;
  left: 20px;
  background: #A5E748;
  color: var(--dark);
  padding: 10px 20px;
  border-radius: 6px 6px 0 0;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 14px;
}

/* ------------------------------
 * Form
 * ------------------------------ */

input {
  margin-bottom: 20px;
}

label {
  display: block;
}

.select-file {
  display: block;
  margin: 20px 0 0;
  box-sizing: border-box;
  width: 100%;
  background: var(--yellow);
  border-radius: 12px;
  border: 2px dashed white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  cursor: pointer;
}

input[name="music"] {
  opacity: 0;
  height: 1px;
  margin: 0;
}

input[type="submit"] {
  display: block;
  width: 100%;
  background: rgb(var(--yellow));
  color: var(--dark);
  border: none;
  border-radius: 12px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Nirvana';
  cursor: pointer;
}

input[type="submit"]:hover {
  background: white;
}

input[type="submit"].disabled {
  background: #333;
}

h3 span {
  color: rgb(var(--yellow));
}